## Build results
bin/
obj/

## Visual Studio
.vs/
*.user
*.suo
*.rsuser
*.userosscache
*.sln.docstates

## Rider / VS Code
.idea/
.vscode/

## OS
.DS_Store
Thumbs.db

## Logs
*.log

## NuGet
*.nupkg
packages/
.nuget/

## Publish
publish/
